.select{
    margin-left: 100px;
    margin-top: 20px;
    margin-right: -25px;
}
.text{
    margin-left: 8%;
    margin-top: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
    width: 91%;
    margin-left: 5%;
    text-align: center;
    overflow: auto;
  }
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
